<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>

    {% block main %}{% endblock %}

    <footer>
      <p>My site 2020</p>
    </footer>
  </body>
</html>

<!--html>(head>title+meta+link)(body>(header>nav>ul>((li.btn.lista$>a.link)*3))((main>(form>(label.lbl.rotulo$>input)*3)(section>article*3)))+footer#rodape)-->
