{% extends "base.html" %}

{% block extrajs %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="{{ url_for('static', filename='visualizacoes.js') }}"></script>
{% endblock %}

{% block main %}
  <section class="section">
    <div class="container">

      <h1 class="title is-1 has-text-centered">
        Estações Meteorológicas ACME
      </h1>

      <h2 class="subtitle is-2 has-text-centered">
        As melhores do Universo conhecido by <strong>ACME</strong>!
      </h2>

      <div class="level">
        <div class="field level-item is-horizontal">

          <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
              <div class="select is-fullwidth">
                <select id="local-sel" name="local">
                  <option value="1">Ubatuba</option>
                  <option value="2">Caraguatatuba</option>
                  <option value="3">Piracicaba</option>
                  <option value="4">Aparecida</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
            </div>
            <div class="control has-icons-left is-expanded">
              <div class="select is-fullwidth">
                <select id="sensor-sel" name="sensor">
                  <option value="1">DHT-11</option>
                  <option value="2">BMP180</option>
                  <option value="3">LM335</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
            </div>
            <div class="control has-icons-left is-expanded">
              <div class="select is-fullwidth">
                <select id="param-sel" name="param">
                  <option value="1">Temperatura</option>
                  <option value="2">Umidade</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

      <figure class="highcharts-figure">
        <div id="container"></div>
      </figure>

    </div>
  </section>
{% endblock %}
